.DS_Store
.test-results
.test-workspace
*.log
*.tsbuildinfo
**/.ralph/*.jsonl
**/.ralph/events.jsonl
**/.ralph/sessions/**/*
**/.ralph/state.*.json
**/dist
**/e2e/test-workspace
**/node_modules
**/playwright-report
**/storybook-static
**/test-results
benchmark-results
**/.agent-sessions/*